.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 99999;
    display: flex;
    flex-direction: column;
  }
  
  .cart-sidebar.open {
    right: 0;
  }
  
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    color: #000 !important;
  }

  .cart-header h2{
    color: #636060;
    margin: 0;
    font-size: 25px;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
  }
  
  .free-shipping-progress {
    padding: 10px 15px;
    background-color: #e6f7ff;
    height: 50px;
  }

  .free-shipping-progress p span{
    color: var(--secondary-color);
    font-weight: 600;
  }
  

  
  .cart-items-wrapper {
    overflow-y: auto;
    padding: 0 20px;
  }
  
  .sidebar-cart-item {
    display: flex;
    place-items: center;
    margin: 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(175, 175, 175);
  }
  
  .sidebar-cart-item img {
    width: 80px;
    height: 100px;
    object-fit: contain;
    margin-right: 15px;
  }
  
  .sidebar-cart-item-details {
    flex-grow: 1;
  }

  .sidebar-cart-item-details h3{
    color: #000;
    margin: 0;
    font-size: 12px;
    line-height: 13px;
  }

  .sidebar-cart-item-details p {
    margin: 0;
  }

  .sidebar-cart-item-details p span{
    color: var(--primary-color);
    text-transform: capitalize;
    font-weight: 600;
    }

  .sidebar-cart-item-details .cart-item-paragraph{
    color: var(--secondary-color);
    margin: 0;
    font-weight: 600;
  }

  .sidebar-cart-item-details .item-details-paragraph {
    font-size: 12px;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    width: max-content;
  }
  
  .quantity-control button {
    width: 25px;
    height: 25px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .quantity-control span {
    margin: 0 10px;
  }
  
  .remove-item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .cart-summary {
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #000;
  }
  
  .cart-actions {
    display: flex;
    padding: 20px;
  }
  
  .cart-actions button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .view-cart-btn {
    background-color: #f0f0f0;
    margin-right: 10px;
  }
  
  .checkout-btn {
    background-color: #8a2be2;
    color: white;
  }


  @media screen and (max-width: 1024px) {
    
  }



  .fixed-cart-icon {
    position: fixed;
    right: 0;
    top: 45%;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    color: #fff;
  }
  
  .fixed-cart-icon i {
    color: white;
    font-size: 24px;
  }

  @media (max-width: 768px) { 
      .fixed-cart-icon{
        transform: scale(0.7) translateX(.5rem);
      }
  }
