/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import "tailwindcss";

@theme {
  --color-primary: #0690f3;
  --color-secondary: #ef3563;
  --color-dark: #031d5c;
}


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: #0690f3;
  --secondary-color: #ef3563;
  --dark-color: #031d5c;
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

html{
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: #000;
  font-family: 'Poppins';
  margin: 0;
}


.container {
  max-width: 1185px;
  margin: 0 auto;
}


a {
  text-decoration: none;
}



/*------------------------------------------------------------------

Typography

-------------------------------------------------------------------*/
html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  letter-spacing: .015em;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


b,
strong {
  font-weight: 600;
}

label {
  font-weight: 600;
  color: #fff;
}

.display-1,
.display-2,
.display-3,
.display-4 {

  font-weight: 600;
  text-transform: uppercase;
  color: rgb();
}

.display-1 {
  font-size: 4.7rem;
}

.display-2 {
  font-size: 4.2rem;
}

.display-3 {
  font-size: 3.7rem;
}

.display-4 {
  font-size: 3.2rem;
}

.nk-decorated-h,
.nk-decorated-h-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nk-decorated-h > span,
.nk-decorated-h > a,
.nk-decorated-h-2 > span,
.nk-decorated-h-2 > a {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.nk-decorated-h::after, .nk-decorated-h::before,
.nk-decorated-h-2::after,
.nk-decorated-h-2::before {
  content: "";
  display: block;
  -webkit-box-flex: 100;
      -ms-flex: 100;
          flex: 100;
  border-bottom: 4px solid;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nk-decorated-h::before,
.nk-decorated-h-2::before {
  -webkit-box-flex: 20px;
      -ms-flex: 20px;
          flex: 20px;
  width: 20px;
  min-width: 20px;
}

.nk-decorated-h-2::after, .nk-decorated-h-2::before {
  border-bottom-color: #293139;
}

.nk-decorated-h-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nk-decorated-h-3 > span,
.nk-decorated-h-3 > a {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-right: 20px;
}

.nk-decorated-h-3::after {
  content: "";
  display: block;
  -webkit-box-flex: 100;
      -ms-flex: 100;
          flex: 100;
  border-bottom: 4px solid #dd163b;
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
}

/* Title */
.nk-title {
  position: relative;
  z-index: 1;
}

/* Sub Title */
.nk-sub-title {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
  color: #dd163b;
  z-index: 1;
}

.nk-title + .nk-sub-title {
  margin-top: 1rem;
}

/* Back title */
.nk-title-back {
  margin-bottom: 0;
  font-size: 6rem;
  color: inherit;
  opacity: .1;
}

.nk-title-back + * {
  position: relative;
  margin-top: -40px;
}

.nk-title-back + .nk-sub-title {
  margin-top: -50px;
}

/* Title Separator */
.nk-title-sep {
  display: block;
  margin: 30px auto;
  line-height: 0;
  color: inherit;
}

.nk-title-sep::after {
  content: "";
  display: inline-block;
  width: 80%;
  max-width: 80px;
  vertical-align: middle;
  border-bottom: 1px dotted;
  opacity: .4;
}

.nk-title-sep-icon {
  display: block;
  margin: 30px auto;
  line-height: 0;
  color: inherit;
}

.nk-title-sep-icon .icon {
  font-size: 1.9rem;
  vertical-align: middle;
}

.nk-title-sep-icon::before, .nk-title-sep-icon::after {
  content: "";
  display: inline-block;
  width: 60px;
  vertical-align: middle;
  border-bottom: 1px dotted;
  opacity: .4;
}

.nk-title-sep-icon::before {
  margin-right: 20px;
}

.nk-title-sep-icon::after {
  margin-left: 20px;
}

/* mega menu titles */
.nk-mega-item > .dropdown > ul li > label {
  font-family: "Montserrat", sans-serif;
}


@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

